<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lathingfisher.neptune.mapper.EmpolyeeMapper">


  <sql id="Base_Column_List">
    emp_id, email, gender, dep_name, emp_name
  </sql>

  <select id="selectAll" resultType="java.util.Map">
    select *
    from test
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_employee
    where emp_id = #{emp_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lathingfisher.neptune.pojo.Empolyee">
    insert into tb_employee (emp_id, email, gender,
      dep_name, emp_name)
    values (#{emp_id,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR},
      #{dep_name,jdbcType=VARCHAR}, #{emp_name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lathingfisher.neptune.pojo.Empolyee">
    insert into tb_employee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="emp_id != null">
        emp_id,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="dep_name != null">
        dep_name,
      </if>
      <if test="emp_name != null">
        emp_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="emp_id != null">
        #{emp_id,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="dep_name != null">
        #{dep_name,jdbcType=VARCHAR},
      </if>
      <if test="emp_name != null">
        #{emp_name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lathingfisher.neptune.pojo.Empolyee">
    update tb_employee
    <set>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="dep_name != null">
        dep_name = #{dep_name,jdbcType=VARCHAR},
      </if>
      <if test="emp_name != null">
        emp_name = #{emp_name,jdbcType=VARCHAR},
      </if>
    </set>
    where emp_id = #{emp_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lathingfisher.neptune.pojo.Empolyee">
    update tb_employee
    set email = #{email,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      dep_name = #{dep_name,jdbcType=VARCHAR},
      emp_name = #{emp_name,jdbcType=VARCHAR}
    where emp_id = #{emp_id,jdbcType=INTEGER}
  </update>
</mapper>