<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lathingfisher.neptune.dao.NeptuneMapper">


    <select id="selectAll" resultType="java.util.Map">
    select * from test
  </select>

    <insert id="insertSevenRank">
        INSERT INTO GuardTab(UID , FACE , RANK , RUID , USERNAME , GUARD_LEVEL) VALUES
        <foreach collection="list" item="lists" separator=",">
            (#{lists.uid},#{lists.face},#{lists.rank} , #{lists.ruid} , #{lists.username} , #{lists.guard_level} )
        </foreach>
    </insert>

    <insert id="insertGuardTab">
        INSERT INTO GuardTab(UID , FACE , RANK , RUID , USERNAME , GUARD_LEVEL,ROOMID) VALUES
        <foreach collection="list" item="lists" separator=",">
            (#{lists.uid},'${lists.face}',#{lists.rank} , #{lists.ruid} , #{lists.username} , #{lists.guard_level}
            ,#{lists.roomid})
        </foreach>
    </insert>

    <select id="selectByGuardTabRuid" resultType="java.util.Map">
        select * from GuardTab where ruid = #{ruid}
    </select>

    <delete id="deleteGuardTab">
        DELETE FROM GuardTab WHERE
        ID IN
        <foreach collection="list" open="(" item="id" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertUnionFans">

        REPLACE INTO UnionFans(UID , RANK , RUID , UNAME , UNION_NAME,DAYS,ROOMID)
        VALUES (#{fans.uid},#{fans.rank} , #{fans.ruid} , #{fans.uname}, #{fans.union_name} , #{fans.days} ,#{fans.roomid})

    </insert>

    <select id="selectByRoomAdmin" resultType="java.util.Map">
        select * from RoomAdmin where ruid = #{ruid}
    </select>


    <delete id="deleteRoomAdmin">
        DELETE FROM GuardTab WHERE
        ID IN
        <foreach collection="list" open="(" item="id" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <insert id="insertRoomAdmin">
        INSERT INTO RoomAdmin(UID , CTIME , RUID , UNAME , ROOMID) VALUES
        <foreach collection="list" item="lists" separator=",">
            (#{lists.uid},'${lists.ctime}' , #{lists.ruid} , #{lists.uname} , #{lists.roomid} )
        </foreach>
    </insert>


    <select id="selectSearch" resultType="java.util.Map">
        select d.ROOMID,a.RUID,(
        CASE a.GUARD_LEVEL
        WHEN 1 THEN  '总督'
        WHEN 2 THEN '提督'
        WHEN 3 THEN '舰长'
        ELSE '未知'
        END
        ) as GUARD_LEVEL,a.FACE,a.USERNAME,c.UNION_NAME,c.DAYS,d.USERNAME as AnchorName from
        GuardTab a
        left join UnionFans c on a.ruid = c.ruid and a.uid = c.uid
        left join AnchorUser d on a.ruid = d.uid
        where a.uid = #{uid} ORDER BY GUARD_LEVEL
    </select>

    <insert id="insertAnchorUser">
        REPLACE INTO AnchorUser(UID,USERNAME,ROOMID) VALUES
        (#{uid},#{uname},#{roomid})
    </insert>

    <select id="selectByMedalRank" resultType="java.util.Map">
        select * from MedalRank where ROOMID = #{roomid}
    </select>

    <insert id="insertMedalRank">
        INSERT INTO MedalRank(UID , RANK , RUID , UNAME , ROOMID, MEDAL_NAME, LEVEL) VALUES
        <foreach collection="list" item="lists" separator=",">
            (#{lists.uid},#{lists.rank} , #{lists.ruid} , #{lists.uname} , #{lists.roomid}, #{lists.medal_name}, #{lists.level})
        </foreach>
    </insert>

    <delete id="deleteMedalRank">
        DELETE FROM MedalRank WHERE
        ID IN
        <foreach collection="list" open="(" item="id" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="searchAllModelRank" resultType="java.util.Map">
        select a.MEDAL_NAME,a.ROOMID,b.USERNAME from MedalRank a left join AnchorUser b
        on a.ruid = b.uid
        GROUP BY MEDAL_NAME,ROOMID
    </select>

    <select id="searchModelRank" resultType="java.util.Map">
        select a.MEDAL_NAME,a.ROOMID,b.USERNAME from MedalRank a left join AnchorUser b
        on a.ruid = b.uid where a.MEDAL_NAME like '%${value}%'
        GROUP BY MEDAL_NAME,ROOMID
    </select>

    <select id="tempSelect" resultType="int">
        select RUID from GuardTab GROUP BY RUID
    </select>

    <update id="updateGuardTab">
            update GuardTab set GUARD_LEVEL = #{list.guard_level} ,FACE = '${list.face}', USERNAME = '${list.username}' where ID = #{list.id}
    </update>

    <select id="selectRoomAdmin" resultType="java.util.Map">
        select b.USERNAME as UNAME,b.FACE,a.CTIME,a.ROOMID,d.USERNAME from RoomAdmin a
        left join GuardTab b on a.uid = b.uid
        left join AnchorUser d on a.ruid = d.uid
        where a.uid = #{uid} GROUP BY d.USERNAME ORDER BY CTIME
    </select>
</mapper>